<div class="card-wrapper">
  <div class="blocx-grid">
    <div class="blocx-grid_col-md-3">
      <div class="card" routerLink="/form">
        <h1 class="card-title">Form Controls</h1>
        <p class="card-content">Controls that collect and validate user input.</p>
      </div>
    </div>

    <div class="blocx-grid_col-md-3">
      <div class="card">
        <h1 class="card-title">Indicators</h1>
        <p class="card-content">Status and Progress Indicator</p>
      </div>
    </div>

    <div class="blocx-grid_col-md-3">
      <div class="card">
        <h1 class="card-title">Data Handling</h1>
        <p class="card-content">Tools for displaying and interacting with tabular data.</p>
      </div>
    </div>

    <div class="blocx-grid_col-md-3">
      <div class="card">
        <h1 class="card-title">Navigation</h1>
        <p class="card-content">Menus, sidenavs and toolbars that organise your content.</p>
      </div>
    </div>

    <div class="blocx-grid_col-md-3">
      <div class="card">
        <h1 class="card-title">Popups</h1>
        <p class="card-content">Floating components dynamically shown or hidden.</p>
      </div>
    </div>

    <div class="blocx-grid_col-md-3">
      <div class="card">
        <h1 class="card-title">Utilities</h1>
        <p class="card-content">Helper Components</p>
      </div>
    </div>

    <div class="blocx-grid_col-md-3">
      <div class="card">
        <h1 class="card-title">Miscellanous</h1>
        <p class="card-content">Need to be refactored</p>
      </div>
    </div>

  </div>
</div>