<!-- Nav bar html start -->
<ng-container *ngIf="menuType == 'Megamenu'">
  <header class="blocx-header {{megaMenuCustomClass}}">
    <h1 *ngIf="megaMenuList[0].logo_url" class="blocx-header_logo"><img [src]="megaMenuList[0].logo_url"
        [alt]="megaMenuLogoAltText"></h1>
    <ul class="blocx-header_nav">
      <li *ngFor="let item of megaMenuList" (click)="openMegaMenu(item)"><a [routerLink]="item.url"
          routerLinkActive="active"
          [ngClass]="(subMenuData && subMenuData.items && item.name === subMenuData.name?'sub-menu-open ':'')+(item.items?'sub-menu':'')">{{item.name}}</a>
      </li>
    </ul>
  </header>
  <!-- Nav bar html end -->
  <div class="blocx-sub_menu {{subMegaMenuCustomClass}}" *ngIf="subMenuData && subMenuData.items" style="display:block">
    <div class="blocx-grid blocx-margin-0">
      <div class="blocx-grid_col-md-4 blocx-grid_col-sm-4 blocx-grid_col-xs-4 blocx-sub_menu_left-section">
        <h3 class="about-section-heading">{{subMenuData.leftpanel.heading}}</h3>
        <img class="about-section-img center" [src]="subMenuData.leftpanel.imgUrl" alt="left panel Image">
        <p class="about-section-text">{{subMenuData.leftpanel.description}}
        </p>
      </div>
      <div class="blocx-grid_col-md-8 blocx-grid_col-sm-8 blocx-grid_col-xs-8 blocx-sub_menu-right-section">
        <div class="mega-menu-close-icon">
          <button class="mega-menu-close-icon-span" (click)="closeMegaMenu()"></button>
        </div>
        <div class="blocx-grid blocx-margin-0">
          <div *ngFor="let item of subMenuData.items"
            class="blocx-grid_col-md-3 blocx-grid_col-sm-3 blocx-grid_col-xs-3 blocx-sub_menu-options-outer">
            <div class="blocx-sub_menu-options">
              <h2 class="blocx-sub_menu-options_heading">{{item.name}}</h2>
              <ul class="blocx-menu mega-menu">
                <li *ngFor="let item of item.items"><a [routerLink]="item.url" (click)="openMegaMenu(item)"
                    routerLinkActive="active">{{item.name}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="menuType === 'Megamenu1'">
  <div class="blocx-header">
    <h1 *ngIf="megaMenuList1[0].logo_url" class="blocx-header_logo"><img [src]=" megaMenuList1[0].logo_url"
        [alt]="megaMenuLogoAltText" (click)="imageNavigation($event)"></h1>
    <ul class="blocx-header_nav">
      <li *ngFor="let item1 of megaMenuList1" (click)="openMegaMenu(item1)"><a [routerLink]="item1.url"
          routerLinkActive="active"
          [ngClass]="(subMenuData1 && subMenuData1.items && item1.name === subMenuData1.name?'sub-menu_1-open ':'')+(item1.items?'sub-menu_1':'')">{{item1.name}}</a>
      </li>
    </ul>
  </div>
  <div class="blocx-sub_menu {{subMegaMenuCustomClass}}" *ngIf="subMenuData1 && subMenuData1.items"
    style="display:block">
    <div class="blocx-sub_menu-right-section">
      <div class="mega-menu-close-icon-2">
        <button class="mega-menu-close-icon-span" (click)="closeMegaMenu()"></button>
      </div>
      <div class="blocx-grid blocx-sub_menu_icons">
        <div class="blocx-grid_col-md-2" *ngFor="let item of subMenuData1.items">
          <img class="about-section-img " src="{{item.url}}" alt="left-section-image">
          <p class="product-section-heading">{{item.name}}</p>
          <p class="product-section-text">{{item.content}}</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!--- New Blocx Figma Megamenu 15/05/2024  --->

<ng-container *ngIf="menuType === 'Megamenu3'">
  <blocx-nav-bar id="megaMenuHeaderId_">
    <ng-container nav-bar>
      <div class="header-links">
        <h1 class="blocx-header_logo">
          <img [src]="megaMenuList3[0].logo_url" [alt]="megaMenuLogoAltText">
        </h1>
        <div class="menu-icon" id="menuButton" (click)="navmenu()"></div>
        <div>
          <ul class="blocx-header_nav_1" id="menuLink">
            <ng-container *ngFor="let item of megaMenuList3">
              <li class="blocx-web-display" (click)="openMegaMenuV3(item, 'W')" *ngIf="item.name">
                <a [routerLink]="" routerLinkActive="active"
                 [ngClass]="(subMenuData3 && subMenuData3.items && item.name === subMenuData3.name?'sub-menu_2-open ':'')+(item.items?'sub-menu_2':'')">
                 {{item.name}}
                </a>
              </li>
            </ng-container>

            <div class="menu-back-div blocx-mob-display" (click)="goToBackItem()" *ngIf="menuIndex > 1">
              <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
            </div>
            <li class="blocx-mob-display" *ngFor="let item of tempMenuData; let i = index"
              (click)="goToNextItem(item, i)">
              <a [routerLink]="" routerLinkActive="active">
                {{item.name}} <i class="fa fa-arrow-right" aria-hidden="true" *ngIf="item.items"></i>
              </a>
            </li>

            <!-- class="blocx-mob-display" -->
            <li style="display: none;" class="blocx-mob-display" *ngFor="let item of megaMenuList3"
              (click)="openMegaMenuV3(item, 'M')">
              <a [routerLink]="" routerLinkActive="active">
                {{item.name}}
                <div class="menu-icon-div"
                  [ngClass]="(subMenuData3 && subMenuData3.items && item.name === subMenuData3.name?'sub-menu-open ':'') + (item.items?'sub-menu':'')">
                </div>

                <ul class="blocx-mob-ul blocx-menu menu_list" *ngIf="item.opened">
                  <li *ngFor="let itemx of subMenuData3.items">
                    <a [routerLink]="" (click)="$event.stopPropagation();subMobMenuToggle2(itemx)"
                      routerLinkActive="active">
                      {{itemx.name}} <div class="menu-icon-div2" *ngIf="itemx.items"
                        [ngClass]="(itemx.opened)? 'sub-menu-open' : 'sub-menu'"></div>

                      <ng-container *ngIf="itemx.items && itemx.opened">
                        <ul class="blocx-mob-ul blocx-menu menu_list">
                          <li *ngFor="let itemy of itemx.items">
                            <a [routerLink]="" (click)="$event.stopPropagation();subMobMenuToggle3(itemy)"
                              routerLinkActive="active"
                              [ngClass]="(itemx.items && itemy.name === subMenuData3.name?'sub-menu_3-open':'')+(itemy.items?'sub-menu_3':'')">
                              {{itemy.name}} <div class="menu-icon-div3" *ngIf="itemy.items"
                                [ngClass]="(itemy.opened)? 'sub-menu-open' : 'sub-menu'"></div>

                              <ng-container *ngIf="itemy.items && itemy.opened">
                                <ul class="blocx-mob-ul blocx-menu menu_list">
                                  <li *ngFor="let itemz of itemy.items">
                                    <a [routerLink]="" (click)="$event.stopPropagation();subMobMenuToggle3(itemz)"
                                      routerLinkActive="active"
                                      [ngClass]="(subMenuData3 && subMenuData3.items && itemz.name === subMenuData3.name?'sub-menu_3-open':'')+(itemz.items?'sub-menu_3':'')">
                                      {{itemz.name}}
                                    </a>
                                  </li>
                                </ul>
                              </ng-container>
                            </a>
                          </li>
                        </ul>
                      </ng-container>
                    </a>
                  </li>
                </ul>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="blocx-header_icons">
        <a href="javascript:void(0)" class="navbar_icons search-img"></a>
        <a href="javascript:void(0)" class="navbar_icons notify-img"></a>
        <a href="javascript:void(0)" class="navbar_icons dp-image">
          <span> User </span>
        </a>
      </div>
    </ng-container>
  </blocx-nav-bar>

  <div class="megamenu_div blocx-web-display" *ngIf="subMenuData3 && subMenuData3.items">
    <div class="blocx-sub_menu_2 sub-menu_2-open" id="open_sub_menu_2">
      <ul class="blocx-menu menu_list">
        <li *ngFor="let item of subMenuData3.items"><a [routerLink]="" (click)="subMenuToggle2(item)"
            routerLinkActive="active"
            [ngClass]="(subMenuData3 && subMenuData3.items && item.name === subMenuData3.name?'sub-menu_3-open':'')+(item.items?'sub-menu_3':'')">{{item.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="blocx-web-display" *ngIf="subMenuData3 && subMenuData3.items[0].items">
    <div class="blocx-sub_menu_3" id="open_sub_menu_3">
      <ul class="blocx-menu menu_list">
        <li *ngFor="let item of subMenuData3.items[0].items"><a [routerLink]="" (click)="subMenuToggle3(item)"
            routerLinkActive="active"
            [ngClass]="(subMenuData3 && subMenuData3.items[0] && item.name === subMenuData3.name?'sub-menu_4-open':'')+(item.items?'sub-menu_4':'')">{{item.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="blocx-web-display" *ngIf="subMenuData3 && subMenuData3.items[0].items[0].items">
    <div class="blocx-sub_menu_4" id="open_sub_menu_4">
      <ul class="blocx-menu menu_list">
        <li *ngFor="let item of subMenuData3.items[0].items[0].items"><a [routerLink]=""
            (click)="openMegaMenuV3(item,'W')" routerLinkActive="active">{{item.name}}</a>
        </li>
      </ul>
    </div>
  </div>

</ng-container>