@import "../../../../assets/styles/base/index";
@import "../nav-bar/nav-bar.component.scss";
@import "../../../../assets/styles/base/blocx-grid";

//header styles start\

.blocx-mob-display{
  display: none;
}
.blocx-web-display{
  display: block;
}

@media only screen and (max-width: 813px) {
  .blocx-mob-display{
    display: block;
  }
  .blocx-web-display{
    display: none;
  }
  .blocx-mob-display> a> i{
    font-size: 12px;
    margin-left: 50px;
  }
  .menu-back-div{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 9px;
    font-size: 12px;
    font-weight: 700;
  }
  .sub-menu::after, .sub-menu_icon::after {
    float: right;
    font-size: 16px !important;
  }
  .blocx-mob-ul> li > a{
    padding: 8px 20px;
    text-transform: none;
  }
  .menu-icon-div{
    left: 90px;
    position: absolute;
    margin-top: -12px;
  }
  .menu-icon-div2{
    left: 150px;
    position: absolute;
    margin-top: -12px;
  }
  .menu-icon-div3{
    left: 235px;
    position: absolute;
    margin-top: -12px;
  }
}

.blocx-header {
  position: relative;
  .sub-menu,
  .sub-menu_1,
  .sub-menu_icon {
    &::after {
      content: "\f107";
      font-family: "FontAwesome", sans-serif;
      margin-left: 6px;
      font-size: 14px;
      font-weight: bold;
    }
    &-open,
    .sub-menu_2-open {
      &::after {
        font-size: 14px;
        content: "\f106";
        font-family: "FontAwesome", sans-serif;
        margin-left: 6px;
        font-weight: bold;
      }
    }
  }
  .blocx-header-logo-img {
    @include blocx-themify($themes) {
      background: url(map-get(blocx-themed("megaMenu"), megamenuLogoImg))
        no-repeat;
    }
    // background: url('../assets/images/blocx-logo.svg') no-repeat;
    width: 36px;
    display: inline-block;
    height: 16px;
  }

}



@media screen and (min-width: 813px) {
  .megamenu_div {
    text-align: justify;
    margin-left: 200px;
    //position: fixed;
    z-index: 1;
  }

  .back-button,
  .selected-menu-link {
    display: none;
  }
  .sub-menu_2 {
    &::after {
      content: "\f107";
      font-family: "FontAwesome", sans-serif;
      margin-left: 6px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .sub-menu_2-close,
  .sub-menu_3-close,
  .sub-menu_4-close {
    display: none;
  }
  
}

@media screen and (max-width: 812px) {
  .desktop-view {
    display: none;
  }
  .blocx-header_nav_1 {
    a {
      padding-right: 20px;
    }
  }
  .megamenu-header {
    display: block;
    ul {
      display: block;
    }
  }
  .sub-menu_2 {
    display: flex !important;
    justify-content: space-between;
    &::after {
      content: "\f107";
      font-family: "FontAwesome", sans-serif;
      font-size: 14px;
      transform: rotate(270deg);
    }
    &-open {
      display: none;
    }
  }
  .blocx-sub_menu_2,
  .blocx-sub_menu_3,
  .blocx-sub_menu_4 {
    position: absolute;
    left: -300px;
    height: 100%;
    width: 300px;
    .menu_list a {
      padding: 18px 20px 18px 16px;
    }
  }
  
  .back-button {
    display: block;
    padding: 14px 0;
    font-weight: bold;
    @include blocx-themify($themes) {
      color: blocx-themed("textColor");
    }
    font-size: 14px;
    &::before {
      content: "\f104";
      font-family: "FontAwesome", sans-serif;
      margin: 0 9px 0 16px;
      font-size: 18px;
    }
  }
  .selected-menu-link {
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 14px 16px;
    @include blocx-themify($themes) {
      color: blocx-themed("primaryColor");
    }
  }
  .sub-menu_2-close,
  .sub-menu_3-close,
  .sub-menu_4-close {
    display: inline-block !important;
  }
}

.blocx-sub_menu {
  width: 100%;
  display: none;
  // position: absolute;
  background: #fff;
  // z-index: 99;
  &_left-section {
    padding: 21px;
    background: #ebeded;
    .about-section-heading {
      color: #2b2826;
      margin: 0;
      font-size: 21px;
      text-align: center;
      line-height: 25px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    .about-section-img {
      width: 114px;
      height: 108px;
      margin: auto;
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .about-section-text {
      margin: 0;
      text-align: center;
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 16px;
      font-size: 12px;
      line-height: 21px;
      color: #6c6b6b;
    }
  }
  .service-section-heading {
    text-align: center;
  }
  .service-section-text {
    text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .blocx-sub_menu-right-section {
    padding: 32px 55px;
    background-color: #f6f8f9;
  }
  .blocx-sub_menu-options-outer {
    padding: 0;
    padding-right: 15px;
  }
  @media screen and (max-width: 812px) {
    .blocx-sub_menu-right-section {
      padding: 32px 15px;
    }
    .blocx-sub_menu-options-outer {
      padding: 0;
      padding-right: 15px;
      margin-bottom: 20px;
    }
  }
  .mega-menu-close-icon,
  .mega-menu-close-icon-2,
  .mega-menu-close-icon-3 {
    float: right;
    // background: url('../assets/images/blocx-mega-menu-icon-close.svg') no-repeat;
    cursor: pointer;
    button.mega-menu-close-icon-span {
      @include blocx-themify($themes) {
        background: url(map-get(blocx-themed("megaMenu"), megaMenuCloseImg))
          no-repeat;
      }
      border: none;
      background-color: none;
      height: 16px;
      display: inline-block;
      width: 16px;
    }
  }
  .blocx-sub_menu_icons {
    padding: 15px 132px;
    background-color: #f6f8f9;
    @media screen and (max-width: 425px) {
      padding: 15px 50px;
    }
    @media screen and (min-width: 426px) and (max-width: 1280px) {
      padding: 15px;
    }
  }
  .product-section-heading,
  .service-section-heading {
    @include blocx-themify($themes) {
      color: blocx-themed("primaryColor");
    }
    font-weight: bold;
    font-size: 14px;
  }
  .product-section-text,
  .service-section-text {
    margin: 0;
    display: block;
    font-size: 12px;
    line-height: 21px;
    color: #6c6b6b;
  }
  .blocx-sub_menu-options {
    &_heading {
      margin: 0;
      @include blocx-themify($themes) {
        color: blocx-themed("primaryColor");
      }
      font-size: 14px;
      margin-bottom: 25px;
      line-height: 16px;
      font-style: normal;
      font-weight: 700;
      text-align: left;
    }
    .mega-menu a {
      font-size: 13px;
      line-height: 23px;
      text-transform: none;
      padding: 0;
      text-align: left;
      @include blocx-themify($themes) {
        color: map-get(blocx-themed("megaMenu"), menuColor);
      }
      font-style: normal;
      font-weight: 400;
    }
  }
}

.header_vertical {
  justify-content: start;
}

.blocx-sub_menu_2 {
  display: none;
  left: 18%;
  overflow-x: auto;
  // position: absolute;
  background: #f6f8f9;
  z-index: 99;
  padding-top: 10px;
  // min-width: 147px;
  width: 147px;
  position: absolute;
  .menu_list a {
    color: #6c6b6b;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    &:hover {
      @include blocx-themify($themes) {
        color: blocx-themed("primaryColor");
      }
    }
  }
  .menu_list a.sub-menu_3-open,
  a.sub-menu_4-open {
    color: #0672d1 !important;
  }
  :last-child {
    margin-bottom: 10px;
  }
  .sub-menu_3,
  .sub-menu_4 {
    &::after {
      font-family: "FontAwesome", sans-serif;
      font-size: 14px;
      content: "\f105";
      font-weight: bold;
      // margin-left: 30px;
    }
  }
}

.blocx-sub_menu_3 {
  display: none;
  left: 30%;
  overflow-x: auto;
  // position: absolute;
  background: #f6f8f9;
  z-index: 99;
  padding-top: 10px;
  // min-width: 147px;
  width: 15%;
  position: absolute;
  .menu_list a {
    color: #6c6b6b;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    &:hover {
      @include blocx-themify($themes) {
        color: blocx-themed("primaryColor");
      }
    }
  }
  .menu_list a.sub-menu_3-open,
  a.sub-menu_4-open {
    color: #0672d1 !important;
  }
  :last-child {
    margin-bottom: 10px;
  }
  .sub-menu_3,
  .sub-menu_4 {
    &::after {
      font-family: "FontAwesome", sans-serif;
      font-size: 14px;
      content: "\f105";
      font-weight: bold;
      // margin-left: 30px;
    }
  }
}

.blocx-sub_menu_4 {
  display: none;
  left: 45.4%;
  overflow-x: auto;
  // position: absolute;
  background: #f6f8f9;
  z-index: 99;
  padding-top: 10px;
  // min-width: 147px;
  width: 10%;
  position: absolute;
  .menu_list a {
    color: #6c6b6b;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    &:hover {
      @include blocx-themify($themes) {
        color: blocx-themed("primaryColor");
      }
    }
  }
  .menu_list a.sub-menu_3-open,
  a.sub-menu_4-open {
    color: #0672d1 !important;
  }
  :last-child {
    margin-bottom: 10px;
  }
  .sub-menu_3,
  .sub-menu_4 {
    &::after {
      font-family: "FontAwesome", sans-serif;
      font-size: 14px;
      content: "\f105";
      font-weight: bold;
      // margin-left: 30px;
    }
  }
}

.sub-menu-open,
.sub-menu_1-open,
.sub-menu_icon-open {
  display: block;
}

.sub-menu_2-open,
.sub-menu_3-open,
.sub-menu_4-open {
  display: block;
  vertical-align: top;
  // left: 0px;
  // -webkit-animation: fadeIn 0.3s;
  // animation: fadeIn 0.3s;
}

.sub-menu_2-close,
.sub-menu_3-close,
.sub-menu_4-close {
  left: -300px;
  -webkit-animation: fadeOut 0.3s;
  animation: fadeOut 0.3s;
}

@-webkit-keyframes fadeIn {
  from {
    left: -300px;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    left: 0px;
  }
  to {
    left: -300px;
  }
}

@keyframes fadeOut {
  from {
    left: 0px;
  }
  to {
    left: -300px;
  }
}

@keyframes fadeIn {
  from {
    left: -300px;
  }
  to {
    left: 0;
  }
}
